{
  "presets": [
    [ 
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],

  "ignore": [
    "src"
  ],

  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "test": "./test"
        }
      }
    ]
  ]
}